body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    
}
  .orange{
      color:orange;
  }
  section{
      display : flex;
  }
.half{
    width: 50%;
}
.half img{
    width:110%
}
.food{
    text-decoration: none;
   background-image: linear-gradient(orange,rgb(224, 41, 9));
   padding: 10px 20px;
   color:white;
   font width:300;
   border-radius: 30px;

}

.img{
    
   height: 580px;
   
}
.line{
    color: gray;
    text-align: center ;
}
.linee{
    color:indianred;
    text-align: center;
}
.lineee{
    color:indianred;
    text-align: center;
}
.item{
    width:50%;
    margin-left: 4%;
    margin-right:4%;
    padding-left: 5%;
    padding-right: 10%;
border-radius: 15px;
    box-shadow: 30px 120px 50px gray;
}
.item img{
    height: 250px;
    width: 0 auto;
}
.im{
    width:270px;
}
.text{
    color: gray;
}
.sec{
    display: flex;
}
.about{

   color:lightcoral;
   text-align: cneter;

}
.sec img{
    width:20%
}
.halff{
  
  width: 30%;

  
}
.back{
    background-image: url("fra.jpg");
    background-repeat: no repeat;
}
.itemm{

 
    width:50%;
    margin-left: 7%;
    margin-right:9%;
    padding-left: 20%;
    padding-right: 10%;
border-radius: 15px;
    box-shadow: 30px 120px 50px gray;

}
.last{
    background-color: rgb(88, 3, 31);
    text-align: center;
}